<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Все новости </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    
  <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/css/ticker-style.css">

    <link rel="stylesheet" href="/css/flaticon.css">

    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->

    <header th:insert="block/header :: header"></header>

    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">

                        <article th:each="el:${news}" class="blog_item">
                            <div th:if="${el.url==null or el.url==''}" class="blog_item_img">
                                <img class="card-img rounded-0" th:src="${el.img}" alt="">
                            </div>
                            <div th:if="${el.img==null or el.img==''}" class="blog_item_img">
                                <img class="card-img rounded-0" th:src="${el.url}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" th:href="'/news/'+${el.id}">
                                    <h2 th:text="${el.title}"></h2>
                                </a>
                                <p th:text="${el.anonce}"></p>
                                <ul class="blog-info-link">
                                    <li><a href="#" th:text="${el.category.name}"><i class="fa fa-user"></i></a></li>
                                    <li><a th:href="'/news/'+${el.id}" th:text="${el.comments.size()}+' комент.'"><i class="fa fa-comments"></i>  </a></li>
                                </ul>
                            </div>
                        </article>


                        <nav class="blog-pagination justify-content-center d-flex" aria-label="Pagination" th:if="${news.totalPages gt 0}">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${news.number eq 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/news/allnews/?page={id}(id=${news.number lt 2 ? 1 : news.number})}"
                                       aria-label="Previous" title="Текущая страница" data-toggle="tooltip">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${i eq news.number + 1} ? 'active'"
                                    th:each="i : ${#numbers.sequence( 1, news.totalPages, 1)}">
                                    <a class="page-link" th:href="@{/news/allnews/?page={id}(id=${i})}" th:text="${i}"
                                       th:title="${'Страница '+ i}" data-toggle="tooltip"></a>
                                </li>
                                <li class="page-item" th:classappend="${news.number + 1 eq news.totalPages} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/news/allnews/?page={id}(id=${news.number + 2})}"
                                       aria-label="Next" title="Следующая страница" data-toggle="tooltip">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>



                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">

                        <aside  class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Категории</h4>
                            <ul th:each="el:${category}" class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p th:text="${el.name}"></p>
                                        <p th:text=" '('+${el.news.size()}+')'"></p>
                                    </a>
                                </li>

                            </ul>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->


    <footer th:insert="block/footer :: footer"></footer>




    <!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/slick.min.js"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="/js/wow.min.js"></script>
		<script src="/js/animated.headline.js"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src="/js/jquery.scrollUp.min.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
		<script src="/js/jquery.sticky.js"></script>
        <script src="/js/jquery.magnific-popup.js"></script>

        <!-- contact js -->
        <script src="/js/contact.js"></script>
        <script src="/js/jquery.form.js"></script>
        <script src="/js/jquery.validate.min.js"></script>
        <script src="/js/mail-script.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

</body>
</html>