<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:each ="newsdetail:${news}">
<p th:text="${newsdetail.fullText}"></p>
<p th:text="${newsdetail.category.name}"></p>
    <p th:text="${rate}"></p>
    <form th:action="'/news/'+${newsdetail.id}+'/del'", method="post">
        <input type="submit" class="btn btn-primary" value="del">
    </form>

    <a th:href="'/news/'+${newsdetail.id}+'/edit'" class="btn btn-primary" >edit</a>

    коменты
    <th:block th:each ="comm: ${commentsAll}">
    <p th:text="${comm.getId()}">
    <form th:action="'/news/'+${newsdetail.id}+'/comments/'+${comm.getId()}", method="post">
    <input type="submit" class="btn btn-primary" value="dell com">
</form>
    </th:block>
<form th:action="'/news/'+${newsdetail.id}+'/addcom'", method="post">
    <input name="text" placeholder="text">
    <input name="rate" placeholder="rate">
    <input type="submit" class="btn btn-primary" value="Add">
</form>


<div class="row">
    <div class="col-md-12 text-center">
        <!-- customers pagination -->
        <nav class="blog-pagination justify-content-center d-flex" aria-label="Pagination" th:if="${commentsAll.totalPages gt 0}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${commentsAll.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/news/allnews/?page={id}(id=${news.number lt 2 ? 1 : news.number})}"
                       aria-label="Previous" title="Текущая страница" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq commentsAll.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, commentsAll.totalPages, 1)}">
                    <a class="page-link" th:href="@{/news/allnews/?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Страница '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${commentsAll.number + 1 eq news.totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/news/allnews/?page={id}(id=${commentsAll.number + 2})}"
                       aria-label="Next" title="Следующая страница" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</th:block>

</body>
</html>